    body {
        background-color: #fff; 
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .con_volver {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }

    .volver img {
        height: 30px;
    }

    .con_volver h3 {
        color: black;
        margin: 0;
    }

    h1 {
        font-family: 'Poppins', 'Segoe UI', sans-serif;
        color: #dc3545;
        text-align: center;
        margin-bottom: 30px;
    }

    .grid_torneos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    /* tarjetas de los torneos */
    .cont_torneo {
        background-color: #e5e5e5;
        border-radius: 15px;
        width: 220px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }

    .cont_torneo:hover {
        transform: scale(1.03);
    }

    .cont_torneo h2 {
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    font-size: 18px;
    color: #dc3545;
    margin: 10px 0 5px;
    font-weight: 700;
}


    .cont_torneo p {
        font-size: 14px;
        color: #333;
        margin: 5px 0;
    }

    .cont_torneo img {
        max-width: 100%;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        background: #fff;
    }

    .torneo {
        margin-top: 10px;
    }

    .torneo img {
        max-width: 45px;
        margin: 5px;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }