# Obtener la ruta base dinámicamente
RewriteEngine On
RewriteBase %{REQUEST_URI}/../

# Configurar el documento de error 404
ErrorDocument 404 %{REQUEST_URI}/../error404.php

# Redirigir errores 404 en la sección de admin
RewriteCond %{REQUEST_URI} ^(.*/)?admin/.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* %{REQUEST_URI}/../error404.php [L]

# Redirigir errores 404 en la sección principal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* error404.php [L]